<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dança diferente // Forró Petrozavodsk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="common.css" />
    <script type="text/javascript" src="http://vk.com/js/api/openapi.js?115"></script>


</head>
<body ng-app="app">
    <div class="pull-right" ng-controller="AuthController">
        {{#if isAuthenticated}}
        <div>
            {{user.firstName}} {{user.lastName}}
        </div>
        <button type="button" class="btn" ng-click="signOut()">Выход</button>
        {{else}}
        <div id="vk_auth"></div>
        {{/if}}
    </div>
    {{#if isAuthenticated}}
        <h1>Моё форро в Петрозаводске</h1>
    {{/if}}
        <div class="container-fluid">
            {{#if isAuthenticated}}
            {{#if longTermTicket}}
            <section class="currentLongTermTicket">
                <h2>Мой абонемент</h2>
                {{longTermTicket.startDate}} - {{longTermTicket.endDate}}
                <div style="width: 201px; border-left:solid 1px; border-top:solid 1px">
                    <!--{{#each longTermTicket.classDates}}
                    --><div style="display: inline-block; width: 50px; border-right:solid 1px; border-bottom:solid 1px; text-align: center">
                        {{{.}}}
                    </div><!--
                    {{/each}}-->
                </div>
                <!--<table class="table table-bordered">
                    <tr>
                        <td></td>
                        <td>12.01</td>
                        <td>15.01</td>
                        <td>24.01</td>
                    </tr>
                    <tr>
                        <td>31.01</td>
                        <td>02.02</td>
                        <td></td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                    -->
            </section>
            {{else}}
            Нету
            {{/if}}
            {{/if}}
            <section class="classes">
                <h2>Наши занятия</h2>
                <ul class="pagination">
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>Янв</a></li>
                    <li class="active"><a href="#">Февраль 2014</a></li>
                    <li><a href="#">Мар <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="right" title="Я был на этом занятии"></span></td>
                            <td>Понедельник, 02</td>
                            <td>Продолжающие</td>
                            <td>Игра в танце (по мотивам Димы Врубеля на Русском Форро) - на основе поворотов спинами и бачи-бачи</td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="right" title="Я не был на этом занятии"></span></td>
                            <td>Среда, 04</td>
                            <td>Начинающие</td>
                            <td>Поворот мальчика, вариации. Геликоптера</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle=tooltip]").tooltip();
        });
    </script>
</body>
</html>
